<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{/admin/admin-fragments.html :: csrf-head}"></head>

<body class="inner_page login">
<div class="full_container">
    <div class="container">
        <div class="center verticle_center full_height">
            <div class="login_section">
                <div class="login_form">
                    <form>
                        <div class="field">
                            <label class="label_field">ROLE</label>
                            <input type="text" name="role" placeholder="role">
                        </div>

                        <div class="field">
                            <label class="label_field">Order</label>
                            <input type="text" name="orderNum" placeholder="order">
                        </div>

                        <label class="label_field hidden">hidden label</label>
                        <button class="btn cur-p btn-outline-success" onclick="send()">SAVE</button>
                    </form>
                    <script>
                        function send() {
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");

                            var sendData = {
                                "role":$('input[name=role]').val(),
                                "orderNum":$('input[name=orderNum]').val(),
                            };


                            $.ajax({
                                type: 'post',
                                contentType: "application/json",
                                url:'/admin/role/role-add',
                                data: JSON.stringify(sendData), // String -> json 형태로 변환
                                beforeSend : function(xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                                    xhr.setRequestHeader(header, token);
                                },
                                async: false, //동기, 비동기 여부
                                cache :false, // 캐시 여부
                                success: function(data){
                                    alert(data);
                                    opener.parent.location.reload();
                                    window.close();
                                },
                                error:function(xhr,status,error){
                                    alert("관리자에게 문의해주시기 바랍니다");
                                    window.close();
                                }
                            });
                        }
                    </script>
<!--                    <form th:action="@{/admin/url/url-add}" method="post">-->
<!--                        <div class="field">-->
<!--                            <label class="label_field">URL</label>-->
<!--                            <input type="text" id="path" name="path" placeholder="url">-->
<!--                        </div>-->

<!--                        <div class="field">-->
<!--                            <label class="label_field">ROLE</label>-->
<!--                            <div>-->
<!--                                <select name="role" id="role">-->
<!--                                    <option value="null">null</option>-->
<!--                                    <option th:each="role : ${roles}" th:text="${role.role}" th:value="${role.id}"></option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <label class="label_field hidden">hidden label</label>-->
<!--                        <button class="btn cur-p btn-outline-success">SAVE</button>-->
<!--                    </form>-->
<!--                    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/admin/admin-fragments.html :: non-sidebar-script}"></div>
<div th:replace="~{/admin/admin-fragments.html :: alert-message}"></div>
</body>

</html>