<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragments.html :: head}"></head>
<body class="inner_page login">
<div class="full_container">
    <div class="container">
        <div class="center verticle_center full_height">
            <div class="login_section">
                <div class="logo_login">
                    <div class="center">


                    </div>
                </div>
                <div class="login_form">
                    <form th:action="@{/change-password}" method="post">
                        <fieldset>
                            <div class="field">
                                <input type=hidden name="email" th:value="${#authentication.principal.email}">
                            </div>

                            <div class="field">
                                <label class="label_field">Password</label>
                                <input type="password" name="password" placeholder="Current password" maxlength="4">
                            </div>

                            <div class="field">
                                <label class="label_field">Password</label>
                                <input type="password" name="newPassword" placeholder="New password" maxlength="4">
                            </div>

                            <div class="field">
                                <label class="label_field">Password</label>
                                <input type="password" name="repeatPassword" placeholder="repeat password" maxlength="4">
                            </div>

                            <div class="field">
                                <label class="label_field hidden">hidden label</label>
                            </div>
                            <div class="field margin_0">
                                <label class="label_field hidden">hidden label</label>
                                <button class="main_bt">Change</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments.html :: non-sidebar-script}"></div>
<div th:replace="~{fragments.html :: alert-message}"></div>
</body>
</html>