<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{fragments.html :: head}"></head>
<body class="inner_page profile_page">
<div class="full_container">
    <div class="inner_container">
        <!-- Sidebar  -->
        <nav th:replace="~{fragments.html :: side-bar}"></nav>
        <!-- end sidebar -->
        <!-- right content -->
        <div id="content">
            <!-- topbar -->
            <div th:replace="~{fragments.html :: top-bar}"></div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2>My Page</h2>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row column1">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="white_shd full margin_bottom_30">
                                <div class="full graph_head">
                                    <div class="heading1 margin_0">
                                        <h2>User profile</h2>
                                    </div>
                                </div>
                                <div class="full price_table padding_infor_info">
                                    <div class="row">
                                        <!-- user profile section -->
                                        <!-- profile image -->
                                        <div class="col-lg-12">
                                            <div class="full dis_flex center_text">
                                                <div class="profile_img"><img width="180" class="rounded-circle"
                                                                              src="images/layout_img/user_img.jpg"
                                                                              alt="#"></div>
                                                <div class="profile_contant">
                                                    <div class="contact_inner">
                                                        <h3 th:text="${account.nickname}">John Smith</h3>
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <i class="fa fa-envelope-o"></i>
                                                                <span th:text="|메일 : ${account.email}"></span>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-key"></i>
                                                                <span th:text="|권한 : ${account.role}"></span>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-history"></i>
                                                                <span th:text="|가입일 : ${#temporals.format(account.joinDate, 'yyyy-MM-dd')}"></span>
                                                            </li>

                                                            <li>
                                                                <i class="fa fa-history"></i>
                                                                <span th:text="|비밀번호 변경일 : ${#temporals.format(account.lastPasswordChangeDate, 'yyyy-MM-dd')}"></span>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- profile contant section -->
                                            <div class="full inner_elements margin_top_30">
                                                <div class="tab_style2">
                                                    <div class="tabbar">
                                                        <nav>
                                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                                <a class="nav-item nav-link active show"
                                                                   id="nav-home-tab" data-toggle="tab"
                                                                   href="#recent_activity" role="tab"
                                                                   aria-selected="true">Activity</a>


                                                            </div>
                                                        </nav>
                                                        <div class="tab-content" id="nav-tabContent">
                                                            <div class="tab-pane fade active show" id="recent_activity"
                                                                 role="tabpanel" aria-labelledby="nav-home-tab">
                                                                <div class="msg_list_main">
                                                                    <ul class="msg_list">

                                                                        <li>
                                                                            <span>
                                                                                <span class="name_user">마지막 비밀번호 변경일</span>
                                                                                <a href="/change-password"
                                                                                   class="msg_user">비밀번호 변경하기</a>
                                                                                <span class="time_ago"
                                                                                      th:text="|${passwordChangeAgo} day ago|">12 min ago</span>
                                                                            </span>
                                                                        </li>
                                                                        <li>
                                                                           <span>
                                                                               <span class="name_user">닉네임 변경하기</span>
                                                                               <a href="/change-nickname" class="msg_user">변경</a>
<!--                                                                               <span class="time_ago">12 min ago</span>-->
                                                                           </span>
                                                                        </li>
                                                                        <li>
                                                                           <span>
                                                                               <span class="name_user">계정 탈퇴하기</span>
                                                                               <a href="/delete-account" class="msg_user">탈퇴</a>
<!--                                                                               <span class="time_ago">12 min ago</span>-->
                                                                           </span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end user profile section -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- footer -->
                    <div class="container-fluid">
                        <div class="footer">
                            <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                                Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments.html :: default-script}"></div>
<div th:replace="~{fragments.html :: alert-message}"></div>

</body>
</html>